.input-form{
    width: 500px;
    background-color: #fff0e6;
}
.entry-btn{
    background-color:  #ff751a;
}
@media screen and (max-width:600px){
    .input-form{
        width: 90%;
        margin: 20px;
    font-size:12px;
}
}